body {
    background: #211d1d;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #e0e0e0;
}

textarea {
    resize: vertical;
    height: 100px;
}

.botones-extra {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.botones-extra button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.btn-guardar{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.btn-guardar {
    width: 100%;
    margin-top: 10px;
}